:root{
    --FD1-laredo-fill-color: #22495A;
    --FD2-reynosa-fill-color: #13678B;
    --FD3-matamoros-fill-color:#1D7A92;
    --FD4-victoria-fill-color:#45C4AF;
    --FD5-ElMante-fill-color:#9AECA4;
    --FD6-ZonaSur-fill-color:#9dc776;
    --azul-institucional-color:#1C2136;
}
/* Iconos */
@font-face {
font-family: 'Material Icons';
font-style: normal;
font-weight: 400;
src: url('css/font/MaterialIcons-Regular.ttf');
src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('css/font/MaterialIconsOutlined-Regular.ttf') format('opentype'),
    url('css/font/MaterialIconsRound-Regular.ttf') format('opentype'),
    url('css/font/MaterialIconsSharp-Regular.otf') format('opentype'),
    url('css/font/MaterialIconsTwoTone-Regular.otf') format('opentype');
}

.material-icons {
font-family: 'Material Icons';
font-weight: normal;
font-style: normal;
font-size: 24px;
display: inline-block;
line-height: 1;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
direction: ltr;

/* Soporte a todos los navegadores */
-webkit-font-smoothing: antialiased;
/* Safari y Chrome */
text-rendering: optimizeLegibility;

/* Firefox */
-moz-osx-font-smoothing: grayscale;

/* IE */
font-feature-settings: 'liga';
}

.html{
    width:1440px;
    margin:0 auto;
}

/*---- Body ---- */
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

#body-background-blue{
    background-image: url('./img/background.png');
}

/*--- Header Backgorund Blanco ---*/
.contenedor-header-blanco{
    
    position: fixed;
    width: 100%;
    min-width: 0%;
    max-width: 1440px;
    height: 17%;
    background-image: url('./img/header_vector_blanco.png');
    background-repeat: no-repeat;
    background-position: 0%;
    background-size: auto;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    /* flex-wrap: wrap; */
    /* border: 4px solid red; */   
}
.contenedor-logo-azul{   
    background-image: url('./img/logo_fgj_azul.png');
    background-repeat: no-repeat;
    background-size:contain;
    width: 16%;
    height: 85%;
    min-width: 200px;
    margin-top: 10px;
    /* Para identificado el .contenedor-logo-azul */
    /* border: 4px solid purple; */
}

.contenedor-buscador{
    margin-top: 10px;
    margin-left: 2%;
    width: 30%;
    /* Para identificar el .contenedor-buscador */
    /* border:orange 4px solid; */
}

.contenedor-header-blanco >.naveg-header{
    margin-top: 10px;
    width: 50%;
    height: 35%;
    display: flex;
    flex-wrap: wrap;
    align-self:stretch;
    justify-content: flex-end;
    gap:2%;
    /* Para identificar el .naveg-header */
    /* border:4px solid blue;  */
}
.btnavbar{
    width: 140px;
}

/*--- Header Blanco (Responsive 1110px) ---*/
@media (max-width: 1110px) {
    .contenedor-header-blanco{
        width: 100%;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .contenedor-header-blanco > .naveg-header{
        width: 140px;
        display: flex;
        flex-direction: row;
        flex-wrap:no-wrap;
        justify-content: center;
        align-items: center;
    }
    .contenedor-buscador{
        width: 300px;
        margin-left: 3%;
        justify-items: flex-start;
        margin-right: 3%;
    }
}

/*--- Header Blanco (Responsive 680px) ---*/
@media (max-width: 680px) {
    .contenedor-header-blanco{
        width: 100%;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .contenedor-header-blanco > .naveg-header{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap:no-wrap;
        justify-content: center;
        align-items: center;
    }
    .contenedor-buscador{
        width: 300px;
        margin-left: 3%;
        justify-items: flex-start;
        margin-right: 3%;
    }
}

/*--- Header Blanco (Responsive 540px) ---*/
@media (max-width: 550px) {
    .contenedor-header-blanco{
        width: 100%;
        min-width: 225px;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .contenedor-header-blanco > .naveg-header{
        width: 70%;
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
        gap:10px
    }
    .contenedor-buscador{
        width: 50%;
        min-width: 200px;
        margin-left: 3%;
        justify-items: flex-start;
        margin-right: 3%;
    }
}

/*--- Header Blanco (Responsive 534px) ---*/
@media (max-width: 534px) {
    .contenedor-header-blanco{
        width: 100%;
        min-width: 225px;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .contenedor-header-blanco > .naveg-header{
        width: 70%;
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
    }
    .contenedor-buscador{
        width: 50%;
        min-width: 200px;
        margin-left: 3%;
        justify-items: flex-start;
        margin-right: 3%;
    }
}

/*--- Header Blanco (Responsive 510px) ---*/
@media (max-width: 513px) {
    .contenedor-header-blanco > .naveg-header{
        width: 40%;
        gap:10px;
    }
}

/*--- Header Blanco (Responsive 508px) ---*/
@media (max-width: 508px) {
    .contenedor-header-blanco > .naveg-header{
        width: 40%;
        min-width: 199px;
        gap:10px;
    }
}



#svg-ubicacion{
    padding-top: 250px;
    padding-left: 150px ;
}

/* .contenedor-imagen{
    display: flex;
    width: auto;
    height: auto;
    position: absolute;
    margin: 225px 20px 150px 175px;
    padding-top: 0px;

} */

.contenedor-imagen-index{
    position:absolute;
    /* margin-top: 20%;
    margin-left: 10%; */
    margin-top: 5%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    gap:25px;
    width: 80%;
    height: 100%;
}


.mapa-ubicacion, .consulta-region, .consulta-municipio{
    text-align: center;
    padding: 20px 0px;
}





.contenedor-imagen > div{
    text-align: center;
    margin: 20px;
    padding: 25px;
}

/* .logo{
    position: absolute;
    display: block;
    top: 15%;
    left: 2%;
    height: auto;
} */
.titulo-principal{
    top:1px;
    width: 100%;
    position: absolute;
    display:inline-block;
    
}
.titulo-principal > h1{
    font-size: 1.6rem;
    text-align: center;
    color: white;
    
}
@media only screen and (max-width: 1000px){
    .titulo-principal{text-align: center;}
    .titulo-principal > h1 {font-size: 1.6rem;
    text-align: center;}

}

@media only screen and (max-width: 850px){
    .titulo-principal{text-align: center;padding-right: 10px;}
    .titulo-principal > h1 {font-size: 1.4rem;
    text-align: right;padding-right: 10px;}

}
@media only screen and (max-width: 500px){
    .titulo-principal{text-align: center;padding-right: 10px;}
    .titulo-principal > h1 {font-size: 1rem;
    text-align: right;}

}
/* Main */
main{
    height: 25rem;
    position: flex;
    display:inline-flex;
    margin-top: 9%;
    padding-bottom: 0%;
    bottom:20px;
    
}
/*Tabla de contenido de Mapas del Mapa de Fiscalías de Distrito*/
#cuadro-flotante{
    display: inline-block;
    position:fixed;
    
}
.tabla-contenido-mapa-fiscalias{
    
    margin-top: 11%;
    margin-bottom: auto;
    margin-left: 4rem;
    margin-right: 2.25rem;
    padding: 1.25rem;
    position: relative;
    float:left;
    border: 1px dashed #13678B;
    border-radius: .625rem;
    display: block;
    
}
.tabla-contenido-mapa-fiscalias > div > span{
    font-weight: bold;
}

#tcmf-nuevo-laredo, #tcmf-reynosa, #tcmf-matamoros, #tcmf-victoria, #tcmf-el-mante,#tcmf-zona-sur{
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    font-size: .8rem;
    width: 134px;
    height: 25px;
    padding: 6px;
    margin: 10px;
}

/*Botones de tabla de contenido*/
#tcmf-nuevo-laredo{
    border:2px solid #22495A;
    color:#13678B;
    

}

#tcmf-reynosa{
    border:2px solid #13678B;
    color:#13678B;

}
#tcmf-matamoros{
    border:2px solid #1D7A92;
    color:#13678B;

}

#tcmf-victoria{
    border:2.5px solid #45C4AF;
    color:#13678B;
}
#tcmf-el-mante{
    border:2.5px solid #9AECA4;
    color:#13678B;
}
#tcmf-zona-sur{
    border:3px solid #DAFDB9;
    color:#13678B;

}


/* Mapa SVG de las Fiscalías de Distrito */
.mapa-fiscalias{
    position:absolute;
    width: 25rem;
    margin-top:20px;
    margin-left: 20rem;
    margin-right: 1rem;
    margin-bottom: 0px;
    
    
}

.mapa-fiscalias-svg{
    text-align: center;
    max-width:25rem;
    height:35rem;
}

.mapa-fiscalias-svg-nuevo-laredo:hover{
    transform: scale(1.01);
    
}
.mapa-fiscalias-svg-reynosa:hover{
    transform: scale(1.003);

}
.mapa-fiscalias-svg-matamoros:hover{
    transform: scale(1.003);

}
.mapa-fiscalias-svg-victoria:hover{
    transform: scale(1.003);

}
.mapa-fiscalias-svg-el-mante:hover{
    transform: scale(1.003);

}
.mapa-fiscalias-svg-zona-sur:hover{
    transform: scale(1.004);

}

/* Contenido de las consultas de los inmuebles */

.instrucciones-flecha, #instrucciones-flecha-img{
    margin:35px;
    text-align: center;
}
#instrucciones-flecha-1, #instrucciones-flecha-2{
    text-align: center;
}

.contenido{
    
    margin-top: 0px;
    margin-right: 0%;
    padding-top: 0rem;
    padding-bottom: 1rem;
    padding-left: 750px;
    background-color:whitesmoke;
    border-radius: 10px;
    width: 580px;
}
.contenido-bloque{
    padding-top: 5px;
    background-color: white;
    border-radius: 10px;
}
.contenido-bloque > div{
    margin: 10px;
}
.contenido-titulo{
    
    padding-top: 3px;
    padding-left: 15px;
    font-size: .85rem;
    background-color: #1C2136;
    color: white;
    border-radius: 5px;
    
}
.contenido-titulo > h2{
    
    margin-top:5px;
    padding-bottom: 5px;
}
.contenido-texto-cuerpo{
    padding-left: 15px;
    padding-bottom:15px;
}
.contenido-texto-cuerpo >h3{
    
    margin-top:0px;
    padding-left: 2px;
    margin-bottom: 10px;
    color:black;
}
.contenido-texto-cuerpo > p{
    font-size: .84rem;
    margin: 3px;
    padding: 0px;
}

/* Municipios */

.tabla-contenido-mapa-municipios1 {
    margin-top: 10%;
    margin-bottom: auto;
    margin-left: 3rem;
    margin-right: 0rem;
    padding: 1rem;
    position: relative;
    float: left;
    display: block;
    
}
.tabla-contenido-mapa-municipios2 {
    margin-top: 10%;
    margin-bottom: auto;
    margin-left: 0rem;
    margin-right: 0rem;
    padding-top: 1rem;
    padding-left: 1rem;
    position: relative;
    float: left;
    display: block;
    
}

.nombre-municipio-btn{
    
    vertical-align: middle;
    width: 100px;
    height: 16px;
    margin: 7px;
    background-color:#448aff ;
    padding: 1px;
    border-radius: 10px;
    
    font-size: 11px;
    text-align: center;
    color: white;

}

/* id de botones del municipio*/
#btn__el-mante{
    /*background-color: orangered;*/
    background-color:#448aff ;
}

.municipio-texto-btn{
    color:white;
}

.enlace-municipio{
    text-decoration: none;
}

.nombre-municipio-btn:hover, #btn__el-mante:hover{
    
    background-color: #2962ff;

}

/*Personalización de municipios*/

/*Fiscalía de Distrito de Nuevo Laredo*/
.tamaulipas__NuevoLaredo:hover{
    fill:var(--FD1-laredo-fill-color);
}

/*Fiscalía de Distrito - Reynosa*/
.tamaulipas__Guerrero:hover, .tamaulipas__Mier:hover, .tamaulipas__MiguelAleman:hover, 
.tamaulipas__Camargo:hover,.tamaulipas__DiazOrdaz:hover, .tamaulipas__Reynosa:hover, 
.tamaulipas__RioBravo:hover{
    fill:var(--FD2-reynosa-fill-color);
}

/*Fiscalía de Distrito - Matamoros*/
.tamaulipas__ValleHermoso:hover, .tamaulipas__Matamoros:hover, .tamaulipas__Mendez:hover,
.tamaulipas__SanFernando:hover,.tamaulipas__Burgos:hover,.tamaulipas__Cruillas:hover{

    fill:var(--FD3-matamoros-fill-color);

}


/*Fiscalía de Distrito - Victoria*/
.tamaulipas__SanNicolas:hover, .tamaulipas__SanCarlos:hover, .tamaulipas__Villagran:hover,
.tamaulipas__Mainero:hover, .tamaulipas__Jimenez:hover, .tamaulipas__Abasolo:hover, .tamaulipas__SotoLaMarina:hover,
.tamaulipas__Hidalgo:hover, .tamaulipas__Padilla:hover, .tamaulipas__Casas:hover, .tamaulipas__Guemez:hover,
.tamaulipas__Victoria:hover, .tamaulipas__Jaumave:hover, .tamaulipas__Miquihuana:hover,
.tamaulipas__Bustamante:hover, .tamaulipas__Palmillas:hover, .tamaulipas__Tula:hover{

    fill:var(--FD4-victoria-fill-color);

}

/*Fiscalía de Distrito - El Mante*/

.tamaulipas__Llera:hover, .tamaulipas__GomezFarias:hover,.tamaulipas__Xicotencatl:hover,
.tamaulipas__Gonzalez:hover, .tamaulipas__Aldama:hover, .tamaulipas__Ocampo:hover,
.tamaulipas__AntiguoMorelos:hover, .tamaulipas__NuevoMorelos:hover, .tamaulipas__ElMante:hover{
    fill:var(--FD5-ElMante-fill-color);

}

.tamaulipas__Altamira:hover, .tamaulipas__Tampico:hover, .tamaulipas__Madero:hover{
    fill:var(--FD6-ZonaSur-fill-color);
    
}

