body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.logo{
    position: absolute;
    display: flex;
    top: 2%;
    left: 2%;
}
/*Tabla de contenido de Mapas de Fiscalías de Distrito*/

.tabla-contenido-mapa-fiscalias{
    
    margin-left: 3rem;
    margin-top: 8rem;
    padding: 1.25rem;
    position: relative;
    float:left;
    width: 12.5rem;
    height: 18.75rem;
    border: 1px dashed #68E1FD;
    border-radius: .625rem;
}
div[id^='tcmf']{
    border: 1px;
}

/* Mapa SVG de las Fiscalías de Distrito */
.mapa-fiscalias{
    width: 25rem;
    padding-left: 18.5rem;
    
}

.mapa-fiscalias-svg{
    text-align: center;
    display:block;max-width:25rem;height:40rem;
}

.mapa-fiscalias-svg-nuevo-laredo:hover{
    transform: scale(1.01);
    
}
.mapa-fiscalias-svg-reynosa:hover{
    transform: scale(1.003);

}
.mapa-fiscalias-svg-matamoros:hover{
    transform: scale(1.003);

}
.mapa-fiscalias-svg-victoria:hover{
    transform: scale(1.003);
  
}
.mapa-fiscalias-svg-el-mante:hover{
    transform: scale(1.003);

}
.mapa-fiscalias-svg-zona-sur:hover{
    transform: scale(1.004);

}




/* Footer */
footer{
    margin-top: 10px;
    bottom: 0%;
    left: 0%;
    position:relative;
    width: 100%;
    height: 12%;
    background-color: #1C2136;
}
.div_footer{
    text-align: center;
    margin: auto;

}
footer span{
    font-size: .8rem;
    text-align: center;
    font-weight: 500;
    color:white;
}