/* Paleta de colores */
:root{
    --FD1-laredo-fill-color: #22495A;
    --FD2-reynosa-fill-color: #13678B;
    --FD3-matamoros-fill-color:#1D7A92;
    --FD4-victoria-fill-color:#45C4AF;
    --FD5-ElMante-fill-color:#9AECA4;
    --FD6-ZonaSur-fill-color:#DAFDB9;
    --azul-institucional-color:#1C2136;
}

html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
*, *:before, *:after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
}
/*Form Conteiner*/

.logo{
    position: absolute;
    display: block;
    top: 3%;
    left: 2%;
    height: auto;
}

.contenedor-de-formularios{
    margin-top: 135px;
    background-color: salmon;
}

.menu-la{
    margin-top: -115px;
    margin-right: 30px;
}